/* select提示选项 */
select:invalid { color: gray; }

/* 网格颜色 */
.grid {
    color: #2c3e50;
    text-align: center;
    background-color: #18bc9c;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}

/* 提示颜色 */
.hint {
    color: orange;
}

/* 网格变换提示助手 */
.resizeHelper {
    border: 2px dotted #c0c0c0
}
